// Core variables and mixins
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/custom";

// Reset and dependencies
@import "~bootstrap/scss/normalize";

// Core CSS
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";

// Components
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/media";

// Utility classes
@import "~bootstrap/scss/utilities";


$pickled-bluewood: #2B394D;
$cornflower-blue: #e0ebe8;
$elm: #1e836c;
$keppel: #45b29a;
$blue-dianne: #21564b;
$edgewater: #c5ded7;
$aqua-haze: #f6f9fa;
$edward: #a5afac;


body {
  color: $blue-dianne;
}

.fullscreen {
  height: 100%;
  width: 100%;

  height: 100vh;
  width: 100vw;
}

// Sections

.landing {
  @extend .fullscreen;
  background: $cornflower-blue;
  h1 {
    @extend .pt-10;
  }
}

.story {
  @extend .pt-5;
  @extend .pb-5;
}

.projects {
  @extend .pt-5;
  @extend .pb-5;
  .projects-list {
    margin-top: 5rem !important;
    .media {
      margin-bottom: 3rem !important;
    }
  }
}

.contact {
  height: 50vh;
  @extend .pt-5;
  @extend .pb-5;
  article {
    header {
      p {
        font-size: 1.5rem;
        font-weight: 300;
        color: $keppel;
      }
    }
  }
}

.goodbye {
  @extend .pt-5;
  @extend .pb-5;
  background: $aqua-haze;
  li {
    a {
      color: $edward;
      font-weight: bold;
    }
  }
  p {
    color: $pickled-bluewood;
  }
}

// Bootstrap Components

.navbar-nav {
  .nav-link {
    color: $keppel;
    &:hover {
      color: $blue-dianne;
    }
    &:after {
      display: block;
      content: '';
      border-bottom: 4px solid $blue-dianne;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
  }
}

// Utilities

.display-5 {
  @extend .display-4;
  font-size: 3rem;
}

.breaker {
  @extend .mx-auto;
  width: 5rem;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

// Breakpoints

@include media-breakpoint-up(xs) {
  html {
    font-size: 0.75rem;
  }
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.1rem;
  }
}
@include media-breakpoint-up(xl) { }

@include media-breakpoint-down(xs) { }
@include media-breakpoint-down(sm) { }
@include media-breakpoint-down(md) { }
@include media-breakpoint-down(lg) { }
@include media-breakpoint-down(xl) { }


// Blinking typed cursor
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
